@import "../components/iconnav";
@import "../components/logo";
@import "../components/search";
@import "../components/menu";

.head{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    background: $head-bg;
    z-index: 20;

    .row{
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        transition: .3s all ease-in-out;
        padding: 700px 10px; // adjust to change header height
        box-sizing: border-box;
        overflow: hidden;

        .title{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            font-size: 0em;
            font-weight: bold;
            text-transform: uppercase;
            transition: .3s all ease-in-out;
        }
    }
}
